:root {
  --black: rgb(0,0,0);
  --green: rgb(73,126,80);
  --darkgreen: rgb(37,63,40);
  --white: rgb(255,255,255);
}

body {
   background-color: var(--green);
}

.lorem {
  margin-left:10%;
  margin-right:10%;
  color: var(--white);
  text-align: justify;
  background-color: var(--darkgreen);
}

.center {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.imagenCentro {
  background-color: var(--white);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linkBarra {
  color: var(--white);
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.barra {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.elementoBarra {
  float: left;
}

.elementoBarra:hover {
  background-color: #111;
}
